# 문제 설명

0 또는 양의 정수가 주어졌을 때, 정수를 이어 붙여 만들 수 있는 가장 큰 수를 알아내 주세요.

예를 들어, 주어진 정수가 [6, 10, 2]라면 [6102, 6210, 1062, 1026, 2610, 2106]를 만들 수 있고, 이중 가장 큰 수는 6210입니다.

0 또는 양의 정수가 담긴 배열 numbers가 매개변수로 주어질 때, 순서를 재배치하여 만들 수 있는 가장 큰 수를 문자열로 바꾸어 return 하도록 solution 함수를 작성해주세요.

# 제한 사항

* numbers의 길이는 1 이상 100,000 이하입니다.
* numbers의 원소는 0 이상 1,000 이하입니다.
* 정답이 너무 클 수 있으니 문자열로 바꾸어 return 합니다.

# 입출력 예

numbers	return

[6, 10, 2]	6210

[3, 30, 34, 5, 9]	9534330

# 코드

In [54]:
from itertools import permutations

def solution(numbers):
    answer = str(sorted([int(''.join([str(n) for n in n_tuple])) for n_tuple in permutations(numbers, len(numbers))], reverse=True)[0])
    return answer

In [56]:
numbers = [6, 10, 2]
solution(numbers)

'6210'

In [55]:
numbers = [3, 30, 34, 5, 9]
solution(numbers)

'9534330'

---

In [ ]:
def solution(numbers):
    ordered_numbers = []
    for n in numbers:
        if not ordered_numbers:
            ordered_numbers.append(str(n))
        else:
            max = (-1, 0)
            for i in range(0, len(ordered_numbers)+1):
                temp_ordered_numbers = ordered_numbers.copy()
                temp_ordered_numbers.insert(i, n)
                new_n = int(''.join([str(temp_n) for temp_n in temp_ordered_numbers]))
                if new_n > max[1]:
                    max = (i, new_n)
            ordered_numbers.insert(max[0], str(n))
        
    answer = ''.join(ordered_numbers)
    return answer

In [52]:
numbers = [6, 10, 2]
solution(numbers)

'6210'

In [53]:
numbers = [3, 30, 34, 5, 9]
solution(numbers)

'9534330'

---

In [49]:
def solution(numbers):
    ordered_numbers = []
    for n in numbers:
        if not ordered_numbers:
            ordered_numbers.append(str(n))
        else:
            candidates = []
            for i in range(0, len(ordered_numbers)+1):
                temp_ordered_numbers = ordered_numbers.copy()
                temp_ordered_numbers.insert(i, n)
                candidates.append((i, int(''.join([str(temp_n) for temp_n in temp_ordered_numbers]))))
            candidates.sort(key = lambda element : element[1], reverse=True)
            max_i, max_n = candidates[0]
            ordered_numbers.insert(max_i, str(n))
        
    answer = ''.join(ordered_numbers)
    return answer

In [50]:
numbers = [6, 10, 2]
solution(numbers)

'6210'

In [51]:
numbers = [3, 30, 34, 5, 9]
solution(numbers)

'9534330'